:root {
    --primary-color: #ff214f;
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;

    /* Logo */
    --logo-width: 110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.main {
    overflow: hidden;
}

.navbar {
    width: 100%;
    padding: 16px;
    min-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 0.5s;
}

.navbar-menu {
    display: none;
    width: 61px;
    color: var(--white-color);
    font-size: 2.4rem;
    padding: 6px 18px;
    margin-left: 20px;
    border-radius: 6px;
    border: 2px solid #495057;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.navbar-menu:hover {
    background-color: var(--primary-color);
}

.navbar > .row {
    margin-top: 4px;
}

.navbar.navbar--active {
    background-color: #343a40;
}

.list__menu {
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    animation: showOn linear 0.5s;
}

.menu-item {
    font-size: 1.6rem;
}

.menu-item__link,
.info-item__link {
    color: var(--white-color);
    text-decoration: none;
    padding: 8px 12px;
    font-weight: 600;
    transition: 0.5s;
    display: block;
}

.menu-item__link:hover,
.info-item__link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.menu-item__link.menu-item__link--active,
.info-item__link.info-item__link--active {
    color: var(--primary-color);
}

.navbar__logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes showOn {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.navbar__logo-img {
    width: var(--logo-width);
}

.logo__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

.logo__title.logo__title--active {
    display: block;
}

.list__info {
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation: showOn linear 0.5s;
}
.info-item {
    font-size: 1.6rem;
}

/* Content */
.content {
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
    background: url('../img/main.jpg') no-repeat center / cover fixed;
}

.content-overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    background-color: rgba(33, 37, 41, 0.85);
}

.content-title {
    font-size: 8.8rem;
    font-weight: 700;
    text-align: center;
}

.content-desc {
    font-size: 5.6rem;
    font-weight: 300;
    margin-bottom: 48px;
    text-align: center;
}

.content-button {
    color: var(--white-color);
    font-size: 2rem;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px 22px;
    transition: 0.3s;
}

.content-button:hover {
    background-color: #fa0034;
}

.about-section__left {
    padding-top: 100%;
    background: url('../img/about-section.jpg') no-repeat center / cover;
}

.about-section-right {
    padding: 100px;
    color: var(--white-color);
    background-color: #343a40;
}

.about-section-right__title {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.about-section-right__desc {
    font-size: 1.6rem;
    text-align: justify;
}

.about-section-right__desc + .about-section-right__desc {
    margin-top: 16px;
}

.our-menu {
    background-color: #343a40;
}

.our-menu > .row {
    overflow: hidden;
}

.our-menu__title {
    font-size: 6.4rem;
    font-weight: 400;
    text-align: center;
    padding: 102px 0;
    color: var(--white-color);
}

.our-menu__item-1 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-1.jpg') no-repeat center / cover;
}

.our-menu__item-2 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-2.jpg') no-repeat center / cover;
}

.our-menu__item-3 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-3.jpg') no-repeat center / cover;
}

.our-menu__item-4 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-4.jpg') no-repeat center / cover;
}

.our-menu__item-5 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-5.jpg') no-repeat center / cover;
}

.our-menu__item-6 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-6.jpg') no-repeat center / cover;
}

.our-menu__item-7 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-7.jpg') no-repeat center / cover;
}

.our-menu__item-8 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-8.jpg') no-repeat center / cover;
}

.our-menu__item-9 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-9.jpg') no-repeat center / cover;
}

.our-menu__item-10 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-10.jpg') no-repeat center / cover;
}

.our-menu__item-11 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-11.jpg') no-repeat center / cover;
}

.our-menu__item-12 {
    padding-top: 25%;
    transition: 0.4s;
    border: 1px solid #343a40;
    background: url('../img/gallary-12.jpg') no-repeat center / cover;
}

.our-menu__item-1:hover,
.our-menu__item-2:hover,
.our-menu__item-3:hover,
.our-menu__item-4:hover,
.our-menu__item-5:hover,
.our-menu__item-6:hover,
.our-menu__item-7:hover,
.our-menu__item-8:hover,
.our-menu__item-9:hover,
.our-menu__item-10:hover,
.our-menu__item-11:hover,
.our-menu__item-12:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.book-table {
    min-height: 500px;
    position: relative;
    background-color: #343a40;
    background-color: rgba(33, 37, 41, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.book-table:before {
    content: "";
    display: block;
    height: 100vh;
    width: 100%;
    background: url('../img/book-table-img.jpg') no-repeat center / cover fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.book-table__title {
    font-size: 6.4rem;
    font-weight: 400;
    text-align: center;
    color: var(--white-color);
    padding-top: 80px;
    margin-bottom: 48px;
}

.input-wrapper {
    flex: 1;
}

.input-item {
    font-size: 2rem;
    color: var(--white-color);
    width: 100%;
    padding: 16px 28px;
    background-color: transparent;
    border: 2px solid var(--white-color);
    outline: none;
}

.input-item::placeholder {
    color: var(--white-color);
}

.book-btn {
    font-size: 2rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 18px 23px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 48px;
}

.book-btn:hover {
    background-color: #fa0034;
}

.event-food {
    background-color: #343a40;
}

.event-food-titles,
.reviews-title {
    font-size: 6.4rem;
    font-weight: 400;
    padding-top: 80px;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 56px;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.control-food__btn,
.control-juices-btn {
    min-width: 225px;
    font-size: 1.6rem;
    color: var(--primary-color);
    background-color: transparent;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.control-food__btn,
.control-juices-btn:hover {
    color: #fa0034;
}

.control-food__btn.control-food__btn--active {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.control-juices-btn.control-juices-btn--active {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.event-food-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #495057;
    border-radius: 10px;
    overflow: hidden;
}
.event-food-item,
.event-juice-item {
    animation: showOn linear 0.5s;
}

.event-food-item.event-food-item--hidden,
.event-juice-item.event-juice-item--hidden {
    display: none;
}

.event-food-item__img {
    width: 100%;
    margin-bottom: 20px;
}

.buy-food-btn {
    font-size: 3.6rem;
    font-weight: 600;
    height: 54px;
    padding: 0 16px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 24px;
}

.buy-food-btn:hover {
    background-color: #fa0034;
}

.event-food-title {
    color: var(--white-color);
    font-weight: 400;
    font-size: 2.6rem;
    margin-bottom: 8px;
    text-align: center;
}

.event-food-desc {
    color: var(--white-color);
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.reviews {
    background-color: #343a40;
}

.review-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.review-item-name {
    font-size: 3rem;
}

.review-item-job {
    font-size: 1.6rem;    
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 20px;
}

.review-item-comment {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 20px 12px;
    border-radius: 10px;
    border: 2px solid #495057;
    border-top-color: #ff214f;
    position: relative;
    margin-bottom: 60px;
}

.review-item-comment::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 24px;
    height: 24px;
    border-color: #ff214f;
    border-radius: 0.2rem 0 0 0;
    border-style: solid;
    border-width: 2px 0 0 2px;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
    background-color: #343a40;
}

.contact-us {
    background-color: #343a40;
    border: 1px solid #495057;
}

.contact-map-img {
    width: 100%;
    min-height: 370px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    color: var(--white-color);
}

.contact-info__title,
.contact-item-title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-info__desc {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.contact__address,
.contact-item-info {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.75);
}

.contact__address i {
    font-size: 2rem;
    width: 28px;
    text-align: center;
    margin-right: 10px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    border-top: 1px solid #495057;
}

.contact-item-title {
    margin-top: 100px;
}

.contact-item-info {
    margin-bottom: 100px;
}

.footer {
    min-height: 50px;
    text-align: center;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.75);
    background-color: #343a40;
}

.footer-author {
    line-height: 50px;
    user-select: none;
}