/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list-item {
        max-height: 40vh;
    }
    .header__cart-list::before {
        display: none;
    }
    .header__sort-bar {
        display: flex;
    }
    .app__container {
        margin-top: calc(var(--header-sort-bar-height) + var(--header-height));
    }
    .mobile__category {
        display: block;
    }
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0;
    }
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
    .header__with-search {
        padding-top: 10px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0;
    }
    .hide-on-mobile {
        display: none;
    }
    .app__content {
        margin: 0 4px;
    }
    .header__with-search {
        padding-top: 4px;
    }
    .header__logo {
        width: unset;
    }
    .header__logo-img {
        width: 110px;
    }
    .header__logo-link {
        padding-top: 4px;
    }
    .header__cart {
        width: unset;
        margin-right: 8px;
    }
    .header__search-checkbox {
        display: block;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: var(--header-sort-bar-height);
        z-index: 1;
        padding: 0 12px;
        display: none;
    }
    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
        padding-left: 12px;
    }
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link {
        --height: 26px;
        font-size: 1.8rem;
        min-width: 32px;
    }
    .app__content {
        padding-top: 18px;
    }
    .footer-content {
        padding: 0 40px;
    }
}
