* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --header-content-height: 160px;
}

.loading {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.loading.active {
    display: flex;
}

.text {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
    animation: fadeIn ease-in 2s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main {
    padding: 60px 0 80px;
    background-image: linear-gradient(45deg, #6f86d6, #88f0f8);
}

.welcome {
    font-size: 1.6rem;
    position: relative;
    top: -30px;
}

.header {
    display: flex;
    border-radius: 20px;
    padding: 26px;
    background-image: linear-gradient(to right bottom, rgba(221,238,249,0.7), rgba(188,237,249,0.3));
}

.header-left {
    display: flex;
    border-right: 1px solid #999;
}

.header__avtar {
    width: var(--header-content-height);
    height: var(--header-content-height);
    border-radius: 20px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
    margin-right: 28px;
}

.header-left__info {
    height: var(--header-content-height);
}

.header-left__name {
    font-size: 2.8rem;
    font-weight: 400;
    color: #333;
}

.header-left__des {
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
    display: block;
    margin-top: 8px;
}

.header-left__socials {
    font-size: 3.6rem;
    margin-top: 52px;
    display: flex;
}

.header-socials-link {
    text-decoration: none;
    position: relative;
    bottom: 0;
}

.header-socials-link:hover {
    transition: transform linear 0.2s;
    bottom: 4px;
}

.header-socials-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 16px;
    padding: 6px;
    background-color: #fff;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
}

.header-right__top {
    height: calc(var(--header-content-height)/2);
}

.header-right__bottom {
    height: calc(var(--header-content-height)/2);
}

.header-right-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__contact {
    display: block;
    font-size: 2.2rem;
    color: #8d8888;
}

.header__contact-des {
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
    display: block;
    padding-top: 8px;
}

.body-container {
    margin-top: 50px;
}

.category {
    padding: 30px calc((100% - 120px)/2);
    border-radius: 20px;
    background-image: linear-gradient(to right bottom, rgba(221,238,249,0.7), rgba(188,237,249,0.3));
}

.info-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.info-item {
    width: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
}

.info-item:not(.active):hover {
    top: -3px;
    transition: transform linear 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: #dedbdb;
    cursor: pointer;
}

.info-item.active {
    background-color: #bebebe;
}

.info-item:last-child {
    margin-bottom: 0;
}

.info-item-link {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    display: block;
    padding: 10px 6px; 
}

.content-item {
    animation: fadeIn linear 0.4s;
}

.self,
.result,
.goal,
.hobby {
    display: none;
    padding: 24px;
    border-radius: 20px;
    background-image: linear-gradient(to right bottom, rgba(221,238,249,0.7), rgba(188,237,249,0.3));
}

.self.active {
    display: block;
}

.goal.active {
    display: block;
}


.hobby.active {
    display: block;
}

.result.active {
    display: block;
}

.self-heading,
.goal-heading {
    font-size: 2.5rem;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 12px;
}

.self > span {
    color: #333;
    display: block;
    font-size: 1.8rem;
    border-left: 4px solid #0066cc;
    margin-bottom: 30px;
    padding-left: 8px;
    text-align: justify;
}

.goal > span {
    color: rgb(42, 163, 38);
    display: block;
    font-size: 1.9em;
    font-weight: 500;
    border-left: 4px solid #0066cc;
    padding-left: 8px;
    text-align: justify;
}

.goal-state {
    display: block;
    color: rgb(136, 125, 125);
    font-weight: 400 !important;
    margin-bottom: 6px;
}

.goal-desc {
    font-size: 1.8rem !important;
    font-weight: 400 !important;
    margin-bottom: 30px;
    color: #333 !important;
}

.result-container-item {
    display: flex;
    flex-wrap: wrap;
}

.result-item {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.result-item-img {
    width: 100%;
    padding-top: 60%;
    border-radius: 16px;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); 
}

.result-item-img:hover {
    cursor: pointer;
}

.result-item-img:hover .result-img-hover {
    top: 0;
}

.result-link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}

.result-img-hover {
    height: 100% ;
    width: 100%;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    top: 100%;
    transition: 0.5s linear;
}

.result-img-link {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 600;
    text-decoration: none;
    color: rgb(46, 231, 46);
}

.result-source-code {
    margin-top: 12px;
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 600;
    color: rgb(39, 122, 231);
}

.hobby-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 5px 5px 1px rgb(50 50 50 / 40%);
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
    position: relative;
    margin-top: 28px;
    bottom: 0;
}

.hobby-item:hover {
    transition: transform linear 0.2s;
    bottom: 4px; 
}

.hobby-img {
    width: 25%;
    border-radius: 10px;
    margin-right: 20px;
}

.hobby-title {
    font-size: 2.4rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 12px;
}

.hobby-desc {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
}

.some-speech {
    font-size: 2.4rem;
    color: #333;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
}

.silde-container {
    margin: 20px 20px 5px 20px;
    background-color: rgb(104, 184, 199);
    border-radius: 20px;
}

.slide-main {
    padding: 20px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
}

.slide-main-item {
    display: none;
    padding: 0 20px;
}

.slide-main-item--active {
    display: flex;
    animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-right: 20px;
}

.slide-author-name {
    font-size: 2.4rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 12px;
}

.slide-author-des {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: rgb(78, 77, 77);
}

.slide-dot-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.slide-dot-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.slide-dot-item:not(.slide-dot-item--active):hover {   
    background-color: #aef3f8;
    transition: all linear 0.2s;
    transform: scale(1.3);
}

.slide-dot-item--active {
    background-color: #3da0da;
}

.arrow-left,
.arrow-right {
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.6);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: #aef3f8;
}

.arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}