.wrapper {
    overflow: hidden;
}

/* Header */
.header {
    width: 100%;
    background-color: #fff;
    height: var(--header-height);
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.header-slogan {
    font-size: 0.7rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--text-color);
    text-transform: uppercase;
}

.header-logo-img {
    width: 100%;
}

.header-list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list-news {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.header-news-item {
    padding: 16px 0;
    cursor: pointer;
    transition: .2s;
    border-bottom: 2px solid transparent;
}

.header-news-item + .header-news-item {
    margin-left: 24px;
}

.header-news-item:hover {
    color: #04b2f7;
    border-bottom: 2px solid #04b2f7;
}

.header-menu-btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 8px;
    margin-left: 16px;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 94px;
}

.header-search-btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    padding: 4px;
    color: #04b2f7;
}

.header-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

/* Content */
.content {
    margin-top: calc(var(--header-height) + 12px);
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header-list {
    display: flex;
    align-items: center;
}

.content-header-incre-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ff4d1c;
}

.content-header-item {
    font-size: 1.3rem;
    display: block;
    padding: 4px 12px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.content-header-item:hover {
    color: #fff;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

.content-heaeder-weather {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content-header-weather-city {
    margin: 0;
}

.content-header-tempo {
    margin: 0 8px;
}

.content-header-weather-img {
    width: 30px;
    height: 30px;
}

.content-news-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.content-news-item {
    display: flex;
    padding: 12px 0;
    cursor: pointer;
}

.content-news-item:hover .content-news-title{
    color: #006BA0;
}


.content-news-item + .content-news-item {
    border-top: 1px solid #ccc;
}

.content-news-img {
    width: 120px;
    height: 80px;
    margin-right: 12px;
}

.content-news-title {
    margin: 0;
    font-size: 1.44rem;
    text-align: justify;
}

.content-news-football-img {
    width: 100%;
    height: 328px;
    object-fit: cover;
    margin-top: 12px;
}

.content-news-football-title {
    font-size: 3.2rem;
    margin-top: 12px;
    margin-bottom: 8px;
    line-height: 1.2;
}

.content-news-football-title:hover {
    cursor: pointer;
    color: #006BA0;
}

.content-news-football-desc {
    font-family: 'Roboto';
    text-align: justify;
    margin: 6px 0;
    font-weight: 300;
}

.content-news-football-hot {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content-news-football-hot-dot-icon {
    font-size: 0.5rem;
}

.content-news-football-hot-youtube-icon {
    font-size: 1.2rem;
    color: #999;
    margin-left: 12px;
    margin-right: 2px;
}

.content-nenws-football-hot-title {
    font-size: 1.4rem;
    margin: 0;
}

.content-nenws-football-hot-title:hover {
    color: #006BA0;
}

.content-news-right {
    margin-top: 12px;
}

.content-news-right-img {
    width: 100%;
}

.content-news-right-title {
    font-size: 1.6rem;
    margin-top: 2px;
}

.content-news-right-title:hover {
    color: #006BA0;
    cursor: pointer;
}

.content-multimedia{
    max-width: 1260px;
    margin: 20px auto 30px;
    padding: 30px;
    background-color: #ffde76;
}

.content-multimedia-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.content-multimedia-title {
    font-size: 2rem;
    margin: 0;
    margin-right: 50px;
}

.content-multimedia-title span {
    color: #DD3333;
}

.content-multimedia-item {
    font-weight: 600;
    cursor: pointer;
}

.content-multimedia-item:hover {
    color: #DD3333;
}

.content-multimedia-item + .content-multimedia-item {
    margin-left: 30px;
}

.content-multi-hotnews-title {
    margin: 0;
    font-size: 2.4rem;
}

.content-multi-hotnews-desc {
    font-family: 'Roboto';
    font-weight: 300;
}

.content-multi-hotnews-title:hover {
    color: #006BA0;
    cursor: pointer;
}

.content-multi-hotnews-title:hover .img-icon {
    color: #999;
}

.img-icon {
    color: #999;
    margin-right: 4px;
}

.custom-magrin {
    margin-top: 28px;
}

.content-multi-hotnews-img {
    width: 100%;
}

.content-multi-hotnews-title-small {
    font-size: 1.6rem;
}

.content-multimedia-title-books {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 0;
    margin-bottom: 22px;
}

.content-books {
    margin-bottom: 20px;
}

.content-books-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap !important;
}

.content-books-item {
    height: 215px;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.content-books-item:hover .content-books-item-title {
    color: #006BA0;
}

.content-books-item-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.content-books-item-title {
    font-size: 1.4rem;
    margin: 0;
    padding: 4px 12px 0 12px;
}

.content-drama-item {
    padding: 12px 0;
    position: relative;
}

.content-news-drama {
    width: 100%;
}

.content-drama-item:not(:first-child)::before {
    content: '';
    display: block;
    width: calc(100% - 100px);
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);

}

.content-news-drama-title {
    font-size: 2.2rem;
    cursor: pointer;
    margin: 0;
}

.content-news-drama-title:hover {
    color: #006BA0;
}

.content-news-drama-desc {
    font-size: 1.44rem;
    font-weight: 300;
    font-family: 'Roboto';
}

.content-hot-read {
    border: 1px solid #eee;
}

.content-hot-reads {
    padding: 15px;
}

.content-hot-read-title {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 12px;
}

.content-hot-read-item {
    display: flex;
}

.content-hot-read-item + .content-hot-read-item {
    margin-top: 16px;
}

.content-hot-read-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 12px;
}

.content-hot-read-name {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto';
    margin: 0;
}

.content-hot-read-desc {
    font-size: 1.44rem;
    margin: 0;
    margin-top: 6px;
    line-height: normal;
}

.content-hot-read-desc:hover {
    color: #006BA0;
    cursor: pointer;
}

.podcast {
    margin-top: 16px;
    background-color: #2f2f3f;
}

.podcast-background {
    padding: 20px 12px;
}

.podcast-bg-header {
}

.podcast-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast-logo {
    width: 120px;
    margin-bottom: 14px;
    cursor: pointer;
}

.podcast-img {
    width: 100%;
    cursor: pointer;
}

.podcast-title {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.2s;
}

.podcast-title:hover {
     color: #04b2f7;
}

.podcast-item {
    padding: 18px 0;
    display: flex;
    column-gap: 12px;
    border-top: 1px solid #444453;
}

.podcast-item-img {
    width: 72px;
    height: 49px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.podcast-item-title {
    color: #fff;
    margin: 0;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.1s;
}

.podcast-item-title:hover {
    color: #04b2f7;
}

.content-lifestyle {
    display: flex;
    font-size: 2rem;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
}

.content-lifestyle span {
    color: red;
    margin-right: 12px;
}

.content-lifestyle-heading {
    margin: 10px 0;
}

.content-lifestyle-left-img {
    width: 100%;
}

.content-lifestyle-title {
    font-size: 2.4rem;
    margin: 0;
    margin-top: 12px;
    cursor: pointer;
}

.content-lifestyle-title:hover {
    color: #006BA0;
}

.content-lifestyle-desc {
    font-size: 1.4rem;
    font-family: 'Roboto';
    color: #444;
    margin: 0;
    margin-top: 4px;
}

.life-separate {
    border-right: 1px solid #ddd;
}

.content-lifestyle-news {
    cursor: pointer;
}

.content-lifestyle-news + .content-lifestyle-news {
    margin-top: 18px;
}

.content-life-news-img {
    width: 100%;
}

.content-life-news-title {
    font-size: 1.6rem;
    margin: 0;
    margin-top: 4px;
}

.content-lifestyle-news:hover .content-life-news-title {
    color: #006BA0;
}

.content-life-style-item {
    display: flex;
    column-gap: 12px;
    padding: 15px 0;
}

.content-life-style-item + .content-life-style-item {
    border-top: 1px solid #ddd;
}

.content-life-style-title {
    margin: 0;
    font-size: 1.44rem;
}

.content-life-style-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 4px;
}

.lifestyle-separate {
    height: 2px;
    width: 100%;
    background-color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
}

.thumb-title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.thumb-title span {
    color: red;
}

.thumb-title h4 {
    margin: 0;
}

.content-thumb-img {
    width: 100%;
    height: 195px;
    object-fit: cover;
    margin-top: 8px;
}

.content-thumb-title {
    font-size: 1.7rem;
    margin: 4px 0 16px 0;
    cursor: pointer;
    height: 48px;
}

.content-thumb-title:hover {
    color: #006BA0;
}

.content-thumb-item {
    display: flex;
    column-gap: 12px;
}

.content-thumb-item {
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.content-thumb-item-img {
    width: 105px;
    height: 72px;
    object-fit: cover;
}

.content-thumb-item-title {
    margin: 0;
    font-size: 1.4rem;
    cursor: pointer;
}

/* Footer */
.footer {
    margin-top: 16px;
    background-color: #f7f7f7;
}

.footer-wide {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-logo-img {
    width: 95px;
}

.footer-desc {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Roboto';
    font-weight: 300;
    color: #444;
}

.footer-desc + .footer-desc {
    margin-top: 6px;
}

.footer-right {
    margin-top: auto;
}

.footer-contact-item {
    display: inline-block;
    margin-top: 6px;
    font-size: 1.2rem;
    padding-right: 6px;
    position: relative;
    cursor: pointer;
}

.footer-contact-item:not(:last-child)::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
}
